<footer
  class="width-100pc bg-verde display-flex flex-column justify-content-center align-items-center padding-10px border-top-black border-bottom-black footer"
>
  <div class="display-flex flex-row justify-content-space-around">
    <a href="https://www.instagram.com/" target="_blank"
      ><i class="font-size-18 text-color-pagina fab fa-instagram boton"></i
    ></a>
    <a href="https://es-la.facebook.com/" target="_blank"
      ><i
        class="font-size-18 margin-left-10px text-color-pagina fab fa-facebook-square boton"
      ></i
    ></a>
    <a href="https://twitter.com/?lang=es" target="_blank"
      ><i
        class="font-size-18 margin-left-10px text-color-pagina fab fa-twitter boton"
      ></i
    ></a>
    <a href="https://gmail.com" target="_blank"
      ><i
        class="font-size-18 margin-left-10px text-color-pagina far fa-envelope boton"
      ></i
    ></a>
  </div>
  <p class="text-color-pagina font-size-12">
    <i class="text-color-pagina far fa-copyright"></i>2022 Todos los derechos
    reservados
  </p>
</footer>
