<br>
<section class="section-footer">
<ul class="ul-footer"> 
<a href= "https://www.instagram.com/" target="_blank"><i class="fab fa-instagram icon-footer animation-footer"></i></a>
</ul>
<ul class="ul-footer">
<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square icon-footer animation-footer"></i></a> 
</ul>
<ul class="ul-footer">
<a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square icon-footer animation-footer"></i></a>
</ul>
<ul class="ul-footer">
 <a href="https://outlook.live.com/" target="_blank"><i class="far fa-envelope icon-footer animation-footer"></i></a>
</ul>
</section>

<div class="cierre"> Copyright© 1999-2020 GREEN MEAT Inc. </div>
<br>