<section>
    <div class="nav-tittle">
        <div class="tittle"><a href="./"><img class="img" src="/images/logo-green.png" alt="Logo"></a>
    </div>
    
        <section class="section-header">
    <div class="barra"><input placeholder="Buscar productos, marcas" class="search-u"><a href=""><i class="fas fa-search search animation-search"></i></a></div>
    <section class="section-icon-tittle">
    <div class="div-icon-tittle"><i class="fas fa-user icon-tittle"></i></div>
    <div class="div-icon-tittle"><i class="fas fa-shopping-cart icon-tittle"></i></div>
    <div class="burguer">
        <a href=""><i class="fas fa-bars icon-burguer"></i></a>
      </div>
    </section>
    </section>
    <section class="section-beneficios-all">
        <div class="div-beneficios-header"><h4>AYUDAMOS A CREAR UN MUNDO MEJOR</h4></div>
    <section class="section-beneficios-header">
        <article class="article-beneficios-header">
    <div><i class="fas fa-faucet icon-beneficos-header"></i></div>
    <div class="contador">CONTADOR</div>
      <div class="div-beneficios-header1"> Agua </div>
    </article>
    <article class="article-beneficios-header">
      <div><i class="fas fa-paw icon-beneficos-header"></i></div>
      <div class="contador">CONTADOR</div>
      <div class="div-beneficios-header1"> Vidas </div>
    </article>
    <article class="article-beneficios-header">
    <div><i class="fas fa-exclamation-triangle icon-beneficos-header"></i></div>
    <div class="contador">CONTADOR</div>
      <div class="div-beneficios-header1"> CO2 </div>
    </article>
    </section>
    </section>
    </section>
    
    <nav class="nav-header">
    <div class="div-nav">PRODUCTOS</div>
    <div class="div-nav">RECETAS</div>
    <div class="div-nav">REEMPLAZOS</div>
    <div class="div-nav">CONTACTO</div>
    
    </nav>