<head>

</head>
<header class="width-100pc display-flex flex-column margin-bottom-5px padding-bottom-5px">
  <section class="display-flex align-items-center justify-content-space-around">
   <a href="/"><img src="/images/logo.jpg" class="bg-pagina  max-heigth-200px"></a> 
      <div class="display-flex flex-column width-60pc align-items-center">
          <div class="display-none align-self-end iconos-header">
              <% if(isLogged) { %>
              <a href="/editUser/<%= userLogged.id %> "><i class="font-size-18 fas fa-user  text-color-blue bg-pagina"></i></a>
              <% } %> 
              <a href="/carrito" class="margin-left-5px"><i
                      class="font-size-18 fas fa-shopping-cart text-color-blue bg-pagina boton4"></i></a>
          </div>
          <form class="border-radius-3px display-flex align-items-center height-100pc bg-white width-100pc borde-blanco padding-5px buscador"
                    action="busqueda" method="get">
                    <input type="text" class="grow heigth-100pc border-radius-3px borde-blanco width-90pc"
                        placeholder="Busca productos y más">
                    <button type="submit" class="bg-white border-radius-3px borde-blanco text-color-blue"><i
                            class=" bg-white fas fa-search center-me "></i></button>
          </form>
          <nav class="width-100pc display-none barra-nav-tablet">
              <ul
                  class="width-100pc display-flex align-items-center justify-content-end nav-sin-estilo height-100pc">
                  <% if(!isLogged) { %> 
                  <li><a class="lista-sin-subrayar text-color-blue boton3" href=/crearUsuario>Registrate</a></li>
                  <li><a class="lista-sin-subrayar text-color-blue margin-left-7px boton3" href=/login>Ingresa</a></li>
                  <% } %> 
                  <li><a class="lista-sin-subrayar text-color-blue margin-left-7px boton3" href=/help>Ayuda</a></li>
              </ul>
          </nav>
      </div>
      </div>
  </section>
  <a class="center-me burger-menu">
      <i class="center-me fas fa-bars bg-blue text-color-white icono-mejorado"></i>
  </a>
  <div class="width-100pc border-bottom-black">
  </div>
  <!--  seccion de koki  -->
  <!-- .section-beneficios-all {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    border-top: 1px solid lightgray;
  } -->
  <!-- .section-beneficios-all {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    border-top: 1px solid lightgray;
  }
  .div-beneficios-header {
    width: 50%;
    margin: 0%;
    padding: 0%;
    display: flex;
    font-size: 100%;
    text-align: center;
    justify-content: center;
    align-self: center;
  }
  .div-beneficios-header1 {
    font-size: 140%;
  }
  .section-beneficios-header {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    text-align: right;
  }
  .article-beneficios-header {
    width: 33%;
    font-size: 60%;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: -5%;
  }
  .icon-beneficos-header {
    background-color: #ffe600;
    color: black;
    width: 100%;
    font-size: 200%;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .contador {
    font-size: 100%;
    margin-top: -20%;
    margin-bottom: 10%;
  } -->
<section class="display-flex flex-wrap width-100pc justify-content-center">
    <div class="div-beneficios-header"><h4 class="text-color-blue">AYUDAMOS A CREAR UN MUNDO MEJOR</h4></div>
<section class="section-beneficios-header">
    <article class="article-beneficios-header">
<i class="fas fa-faucet icon-beneficos-header text-color-blue"></i>
<div class="contador text-color-blue">CONTADOR</div>
  <div class="div-beneficios-header1 text-color-blue"> Agua </div>
</article>
<article class="article-beneficios-header">
  <div><i class="fas fa-paw icon-beneficos-header text-color-blue"></i></div>
  <div class="contador text-color-blue">CONTADOR</div>
  <div class="div-beneficios-header1 text-color-blue"> Vidas </div>
</article>
<article class="article-beneficios-header">
<div><i class="fas fa-exclamation-triangle icon-beneficos-header text-color-blue"></i></div>
<div class="contador text-color-blue">CONTADOR</div>
  <div class="div-beneficios-header1 text-color-blue"> CO2 </div>
</article>
</section>
</section>
</section>
<!--  seccion de koki  -->
  <div class="width-100pc border-bottom-black">
  </div>
  <nav
      class="width-100pc bg-verde border-bottom-black center-me  display-flex justify-content-center align-items-flex-end ">
      <ul class="width-90pc display-flex align-items-end justify-content-space-around nav-sin-estilo min-heigth-30px  text-color-white">
          <li><a class="lista-sin-subrayar text-color-pagina boton1" href=/listaProductos>Productos</a></li>
          <li><a class="lista-sin-subrayar text-color-pagina boton1" href=/reemplazos>Reemplazos</a></li>
          <% if(masterLogged) {   %> 
                  <li><a class="lista-sin-subrayar text-color-pagina boton1" href=/crearProducto>Vender</a></li>
          <% } %> 
          <li><a class="lista-sin-subrayar text-color-pagina boton1" href=/contacto>Contacto</a></li>
      </ul>
  </nav>
</header>

