<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>  Green Meat</title>
<link rel="shortcut icon" href="/images/logo-green.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/carrito-register.css">
<link rel="stylesheet" href="/css/home-desktop.css">
<link rel="stylesheet" href="/css/home-tablet.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/laptop.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/product.css">

<meta name="viewport" content="width=device-wid th, initial-scale=1">