<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <title>Green Meat</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/home-tablet.css" />
    <link rel="stylesheet" href="/css/home-desktop.css" />
    <link rel="stylesheet" href="/css/home-tablet.css" />
    <link rel="stylesheet" href="/css/home-desktop.css" />
  </head>

  <body
    class="width-100vw height-100vh font-family-lilita bg-pagina display-flex flex-column min-heigth-100vh"
  >
    <%- include("./partials/header.ejs") %>
    <main class="grow margin-bottom-55px width-100pc margin-auto height-100vh">
      <section class="100pc display-flex flex-column align-items-center">

        <br />
        COMUNICATE CON NOSOTROS A TRAVÉS DE NUESTRAS REDES SOCIALES:
        <br />
        <br>
        <br>
        <div class="display-flex flex-row justify-content-space-around">
    <a href="https://www.instagram.com/" target="_blank"
      ><i class="font-size-18 text-color-pagina fab fa-instagram boton5"></i
    ></a>
    <a href="https://es-la.facebook.com/" target="_blank"
      ><i
        class="font-size-18 margin-left-10px text-color-pagina fab fa-facebook-square boton5"
      ></i
    ></a>
    <a href="https://twitter.com/?lang=es" target="_blank"
      ><i
        class="font-size-18 margin-left-10px text-color-pagina fab fa-twitter boton5"
      ></i
    ></a>
    <a href="https://gmail.com" target="_blank"
      ><i
        class="font-size-18 margin-left-10px text-color-pagina far fa-envelope boton5"
      ></i
    ></a>
  </div>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
