<!DOCTYPE html>
<html lang="es">
<head>
<%- include("./partials/head.ejs") %>
</head>

<body>

<header>
  <%- include("./partials/header.ejs") %>

</header>
    <main>
        <section>
            <div class="flex-main1">
                <h2 class="padri20"> Tu Carrito </h2>
                 <p><i class="fas fa-shopping-cart font24"></i></p>
            </div>
            <h2> Total productos : X  </h2>
        </section>
        <section >
            <div class="flex" >            
                <article class="blackborder w98 w50 flex1"> 
                    <div class=" w33 margin5 " >
                        <img src="/images/bocado.png " class="w100 h100 ">
                    </div>
                    <div class=" w33 " >
                        <p class="padtopname negri"> Nombre del producto</p>
                        <p class="padtopdesc"> Descripcion del producto</p>
                    </div >

                    <div class="w33">
                        <div class="flexmain5">
                        <p class="w50 padcant negri"> CANTIDAD </p>
                        <form  class="w50 padform " >
                             <select class=" bg-yellow boxsha">
                                <option> 1 </option>
                                <option> 2 </option>
                                <option> 3 </option>
                                <option> 4 </option>
                                <option> 5 </option>
                                <option> 6 </option>
                                <option> 7 </option>
                                <option> 8 </option>
                                <option> 9 </option>
                            </select>
                        </form>
                        </div>
                    <div class="flex1 widmin">
                        <div>
                            <p class="circle margvida"> </p>
                            <p class="margright f10 negri"> VIDAS </p>
                            
                        </div>
                        <div>
                            <p class="circle margvida"> </p>
                            <p class="margright f10 negri"> AGUA </p>
                        </div>
                        <div>
                            <p class="circle margvida"> </p>
                            <p class="margright f10 negri"> EMISION H2O </p>
                        </div>
                    </div>
                </div>
                <i class="fas fa-trash-alt tacho "></i>
                </article>
                <article class="blackborder w98 w50 flex1"> 
                    <div class=" w33 margin5" >
                        <img src="/images/chori.png " class="w100 h100  ">
                    </div>
                    <div class=" w33 " >
                        <p class="padtopname negri"> Nombre del producto</p>
                        <p class="padtopdesc"> Descripcion del producto</p>
                    </div >

                    <div class="w33">
                        <div class="flexmain5">
                        <p class="w50 padcant negri"> CANTIDAD </p>
                        <form  class="w50 padform" >
                             <select class=" bg-yellow boxsha ">
                                <option> 1 </option>
                                <option> 2 </option>
                                <option> 3 </option>
                                <option> 4 </option>
                                <option> 5 </option>
                                <option> 6 </option>
                                <option> 7 </option>
                                <option> 8 </option>
                                <option> 9 </option>
                            </select>
                        </form>
                        </div>
                    <div class="flex1 widmin">
                         <div>
                            <p class="circle margvida"> </p>
                            <p class="margright f10 negri"> VIDAS </p>
                            
                        </div>
                        <div>
                            <p class="circle margvida"> </p>
                            <p class="margright f10 negri"> AGUA </p>
                        </div>
                        <div>
                            <p class="circle margvida"> </p>
                            <p class="margright f10 negri"> EMISION H2O </p>
                        </div>
                    </div>
                </div>
                <i class="fas fa-trash-alt tacho "></i>
                </article>
            
                
            </div>


            <p class="bg-black font-white text-aling-center padgopay" > Ir a pagar </p2>
               
        
        </section>

        <section>
            <div>
                <h3 class="text-aling-center" > Resumen del pedido </h3>
                <div class="flex-main2">
                    <p> X productos</p>
                    <p> X pesos</p>
                </div>
                <div class="flex-main2" >
                    <p> Entrega </p>
                    <p> X pesos</p>
                </div>
                <div class="flex-main2" >
                    <p> Total </p>
                    <p> X pesos</p>
                </div>
                    
                
            </div>
      
        </section>
        <section class="padsec">
            
            <h3 class="text-aling-center" > BENEFICIOS DE ESTA COMPRA </h3>

            <div class="flex-main3 pad10">   
                <div>  
                 
                <p class="circle margvida"> </p>
                <p> VIDAS </p>
                </div>   
                <div>      
                      
                <p class="circle margagua"> </p>
                <p> AGUA</p>
                </div>
                <div> 
                
                <p class="circle margh2o" > </p>
                <p>EMISION DE H2O</p>
                </div>
                </div>
            
                 
        

    </section>

        <section>
            
                <h3 class="text-aling-center" >  FORMAS DE PAGO </h3>
                
                <div class="flex-mainpay"> 
                <img src="/images/VISA2.png " >   
                <img src="/images/master.png " >   
                <img src="/images/pay.png " class="pad">    
                <img src="/images/merc.png "class="pad" > 
               
                
                </div>

        </section>

        

        


    </main>
    <footer class="footer">
        <%- include("./partials/footer.ejs") %>
  
  </footer>
  
</body>
</html>