<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carritocompra</title>




    
    <meta name="viewport" content="width=device-wid th, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2? family=Montserrat:wght@400;700&family=Roboto&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/carrito-register.css">
    <link rel="stylesheet" href="/css/laptop.css">



</head>
<body class=" bg-yellow font12">
    <header>
        <section>

        
        <div class="nav-tittle">
            <div class="tittle"><a href="./"><img class="img" src="/images/logo.jpg" alt="Logo"></a>
        </div>
        
            <section class="section-header">
        <div class="barra"><input placeholder="Buscar productos, marcas" class="search-u"><a href=""><i class="fas fa-search search animation-search"></i></a></div>
        <section class="section-icon-tittle">
        <div class="div-icon-tittle"><i class="fas fa-user icon-tittle"></i></div>
        <div class="div-icon-tittle"><i class="fas fa-shopping-cart icon-tittle"></i></div>
        <div class="burguer">
            <a href=""><i class="fas fa-bars icon-burguer"></i></a>
          </div>
        </section>
        </section>
        
        <section class="section-beneficios-all">
            <div class="div-beneficios-header"><h4>AYUDAMOS A CREAR UN MUNDO MEJOR</h4></div>
        <section class="section-beneficios-header">
            <article class="article-beneficios-header">
        <div><i class="fas fa-faucet icon-beneficos-header"></i></div>
        <div class="contador">CONTADOR</div>
          <div class="div-beneficios-header1"> Agua </div>
        </article>
        <article class="article-beneficios-header">
          <div><i class="fas fa-paw icon-beneficos-header"></i></div>
          <div class="contador">CONTADOR</div>
          <div class="div-beneficios-header1"> Vidas </div>
        </article>
        <article class="article-beneficios-header">
        <div><i class="fas fa-exclamation-triangle icon-beneficos-header"></i></div>
        <div class="contador">CONTADOR</div>
          <div class="div-beneficios-header1"> CO2 </div>
        </article>
        </section>
        </section>
        </section>
        
        <nav class="nav-header">
        <div class="div-nav">PRODUTOS</div>
        <div class="div-nav">RECETAS</div>
        <div class="div-nav">REEMPLAZOS</div>
        <div class="div-nav">CONTACTO</div>
        
        </nav>
        
        </header>
    <main>
        <section>
            <div class="flex-main1">
                <h2 class="padri20"> Tu Carrito </h2>
                 <p><i class="fas fa-shopping-cart font24"></i></p>
            </div>
            <h2> Total productos : X  </h2>
        </section>
        <section >
            <div class="flex" >            
                <article class="blackborder w98 w50 flex1"> 
                    <div class=" w33 margin5 " >
                        <img src="/images/bocado.png " class="w100 h100 ">
                    </div>
                    <div class=" w33 " >
                        <p class="padtopname negri"> Nombre del producto</p>
                        <p class="padtopdesc"> Descripcion del producto</p>
                    </div >

                    <div class="w33">
                        <div class="flexmain5">
                        <p class="w50 padcant negri"> CANTIDAD </p>
                        <form  class="w50 padform " >
                             <select class=" bg-yellow boxsha">
                                <option> 1 </option>
                                <option> 2 </option>
                                <option> 3 </option>
                                <option> 4 </option>
                                <option> 5 </option>
                                <option> 6 </option>
                                <option> 7 </option>
                                <option> 8 </option>
                                <option> 9 </option>
                            </select>
                        </form>
                        </div>
                    <div class="flex1 widmin">
                        <div>
                            <p class="circle margvida"> </p>
                            <p class="margright f10 negri"> VIDAS </p>
                            
                        </div>
                        <div>
                            <p class="circle margvida"> </p>
                            <p class="margright f10 negri"> AGUA </p>
                        </div>
                        <div>
                            <p class="circle margvida"> </p>
                            <p class="margright f10 negri"> EMISION H2O </p>
                        </div>
                    </div>
                </div>
                <i class="fas fa-trash-alt tacho "></i>
                </article>
                <article class="blackborder w98 w50 flex1"> 
                    <div class=" w33 margin5" >
                        <img src="/images/chori.png " class="w100 h100  ">
                    </div>
                    <div class=" w33 " >
                        <p class="padtopname negri"> Nombre del producto</p>
                        <p class="padtopdesc"> Descripcion del producto</p>
                    </div >

                    <div class="w33">
                        <div class="flexmain5">
                        <p class="w50 padcant negri"> CANTIDAD </p>
                        <form  class="w50 padform" >
                             <select class=" bg-yellow boxsha ">
                                <option> 1 </option>
                                <option> 2 </option>
                                <option> 3 </option>
                                <option> 4 </option>
                                <option> 5 </option>
                                <option> 6 </option>
                                <option> 7 </option>
                                <option> 8 </option>
                                <option> 9 </option>
                            </select>
                        </form>
                        </div>
                    <div class="flex1 widmin">
                         <div>
                            <p class="circle margvida"> </p>
                            <p class="margright f10 negri"> VIDAS </p>
                            
                        </div>
                        <div>
                            <p class="circle margvida"> </p>
                            <p class="margright f10 negri"> AGUA </p>
                        </div>
                        <div>
                            <p class="circle margvida"> </p>
                            <p class="margright f10 negri"> EMISION H2O </p>
                        </div>
                    </div>
                </div>
                <i class="fas fa-trash-alt tacho "></i>
                </article>
            
                
            </div>


            <p class="bg-black font-white text-aling-center padgopay" > Ir a pagar </p2>
               
        
        </section>

        <section>
            <div>
                <h3 class="text-aling-center" > Resumen del pedido </h3>
                <div class="flex-main2">
                    <p> X productos</p>
                    <p> X pesos</p>
                </div>
                <div class="flex-main2" >
                    <p> Entrega </p>
                    <p> X pesos</p>
                </div>
                <div class="flex-main2" >
                    <p> Total </p>
                    <p> X pesos</p>
                </div>
                    
                
            </div>
      
        </section>
        <section class="padsec">
            
            <h3 class="text-aling-center" > BENEFICIOS DE ESTA COMPRA </h3>

            <div class="flex-main3 pad10">   
                <div>  
                 
                <p class="circle margvida"> </p>
                <p> VIDAS </p>
                </div>   
                <div>      
                      
                <p class="circle margagua"> </p>
                <p> AGUA</p>
                </div>
                <div> 
                
                <p class="circle margh2o" > </p>
                <p>EMISION DE H2O</p>
                </div>
                </div>
            
                 
        

    </section>

        <section>
            
                <h3 class="text-aling-center" >  FORMAS DE PAGO </h3>
                
                <div class="flex-mainpay"> 
                <img src="/images/VISA2.png " >   
                <img src="/images/master.png " >   
                <img src="/images/pay.png " class="pad">    
                <img src="/images/merc.png "class="pad" > 
               
                
                </div>

        </section>

        

        


    </main>
    <footer class="bg-black font-white padtop30">
        <div class="flex-main4">   
                     
            <p><i class="fab fa-instagram font-y font24"></i></p>
            <p><i class="fab fa-facebook-square font-y font24 "></i></p>
            <p><i class="fab fa-twitter-square font-y font24 "></i></p>
            <p><i class="fas fa-envelope font-y  font24"></i></p>
            </div>

        <p>CopyRight 2022</p>
    </footer>
</body>
</html>