<!DOCTYPE html>
<html lang="es">
<head>
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/carrito.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/laptop.css">
<link rel="stylesheet" href="/css/home-tablet.css">
<link rel="stylesheet" href="/css/home-desktop.css">

</head>

<body class="bg-pagina min-heigth-100vh">

<header>
  <%- include("./partials/header.ejs") %>

</header>
    <main>
        <section>
            <div class="display-flex">
                <h2 > Tu Carrito </h2>
                 <p><i class="fas fa-shopping-cart font-size-24"></i></p>
            </div>
            <h2> Total productos : X  </h2>
        </section>
        <section >
            <div class="flex" >            
                <article class="blackborderall width-99pc w50 display-flex justify-content-space-between"> 
                    <div class=" width-33pc margin-5px " >
                        <img src="/images/bocado.png " class="w100 h100 ">
                    </div>
                    <div class=" width-33pc " >
                        <p class="padtop15 underline bold"> Nombre del producto</p>
                        <p class="padtop40p "> Descripcion del producto</p>
                    </div >

                    <div class="width-33pc">
                        <div class="display-flex justify-content-space-between ">
                        <p class="w50 padtop30 bold"> CANT. </p>
                        <form  class="w50 padtop28 padleft12 " >
                             <select class=" bg-pagina box-shadow-comun ">
                                <option> 1 </option>
                                <option> 2 </option>
                                <option> 3 </option>
                                <option> 4 </option>
                                <option> 5 </option>
                                <option> 6 </option>
                                <option> 7 </option>
                                <option> 8 </option>
                                <option> 9 </option>
                            </select>
                        </form>
                        </div>
                    <div class="padtop40p" >
                        <div class="display-flex justify-content-space-between w100 ">
                            
                            <p class=" font-size-14 bold "> VIDAS </p>
                            <p class="circle marginleft20"> </p>
                            
                        </div>
                        <div class="display-flex justify-content-space-between w100 " >
                          
                            <p class=" font-size-14 bold"> AGUA </p>
                            <p class="circle marginleft20"> </p>
                        </div>
                        <div class="display-flex justify-content-space-between w100 "  >
                         
                            <p class=" font-size-14 bold"> EMISION H2O </p>
                            <p class="circle marginleft20"> </p>
                        </div>
                    </div>
                </div>
                <i class="fas fa-trash-alt tacho "></i>
                </article>
                <article class="blackborderall width-99pc w50 display-flex justify-content-space-between"> 
                    <div class=" width-33pc margin-5px" >
                        <img src="/images/chori.png " class="w100 h100  ">
                    </div>
                    <div class=" width-33pc " >
                        <p class="padtop15 underline bold"> Nombre del producto</p>
                        <p class="padtop40p "> Descripcion del producto</p>
                    </div >

                    <div class="width-33pc">
                        <div class="display-flex justify-content-space-between ">
                        <p class="w50 padtop30 bold"> CANT. </p>
                        <form  class="w50 padtop28 padleft12" >
                             <select class=" bg-pagina box-shadow-comun ">
                                <option> 1 </option>
                                <option> 2 </option>
                                <option> 3 </option>
                                <option> 4 </option>
                                <option> 5 </option>
                                <option> 6 </option>
                                <option> 7 </option>
                                <option> 8 </option>
                                <option> 9 </option>
                            </select>
                        </form>
                        </div>
                        <div class="padtop40p">
                            <div class="display-flex justify-content-space-between w100 ">
                                
                                <p class=" font-size-14 bold"> VIDAS </p>
                                <p class="circle marginleft20"> </p>
                                
                            </div>
                            <div class="display-flex justify-content-space-between w100 " >
                              
                                <p class=" font-size-14 bold"> AGUA </p>
                                <p class="circle marginleft20"> </p>
                            </div>
                            <div class="display-flex justify-content-space-between w100 "  >
                             
                                <p class=" font-size-14 bold"> EMISION H2O </p>
                                <p class="circle marginleft20"> </p>
                        </div>
                    </div>
                </div>
                <i class="fas fa-trash-alt tacho "></i>
                </article>
            
                
            </div>


            <p class="bg-black text-color-white center-me padgopay" > Ir a pagar </p2>
               
        
        </section>

        <section>
            <div>
                <h3 class="center-me" > Resumen del pedido </h3>
                <div class="display-flex justify-content-space-between">
                    <p> X productos</p>
                    <p> X pesos</p>
                </div>
                <div class="display-flex justify-content-space-between" >
                    <p> Entrega </p>
                    <p> X pesos</p>
                </div>
                <div class="display-flex justify-content-space-between" >
                    <p> Total </p>
                    <p> X pesos</p>
                </div>
                    
                
            </div>
      
        </section>
        <section class="padsec">
            
            <h3 class="center-me" > BENEFICIOS DE ESTA COMPRA </h3>

            <div class="display-flex justify-content-space-around pad10">   
                <div>  
                 
               
                <p class="center-me"> VIDAS </p>
                </div>   
                <div>      
                      
                
                <p class="center-me" > AGUA</p>
                </div>
                <div> 
                
                
                <p class="center-me" >EMISION DE H2O</p>
                </div>
                </div>
            
                 
        

    </section>

        <section>
            
                <h3 class="center-me" >  FORMAS DE PAGO </h3>
                
                <div class="display-flex justify-content-space-around"> 
                <img class="img-pagos" src="/images/VISA2.png " >   
                <img class="img-pagos" src="/images/master.png " >   
                <img class="img-pagos" src="/images/pay.png " class="pad">    
                <img class="img-pagos" src="/images/merc.png "class="pad" > 
               
                
                </div>

        </section>

        

        


    </main>
    
        <%- include("./partials/footer.ejs") %>
  

  
</body>
</html>