<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-wid th, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2? family=Montserrat:wght@400;700&family=Roboto&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
  

</head>
<body  class="bg-grey">
    <header class="bg-yellow pad20" > 
        
        <div class="flex-header-1" > 
            <p class="w50"><img src="/images/logo.jpg"></p>
        
            <form class="w50" >
                <input placeholder="Buscar productos, marcas" class="search-u  ">
                <a href=""><i class="fas fa-search search"></i></a>
            </form>
        </div>
        <p><i class="fas fa-user"></i></p>
        <p><i class="fas fa-shopping-cart"></i></p>
        
       
        <div class="flex-header-2" >
            <h2> Ayudamos a crear un mundo mejor </h2>
            <p>Vidas</p>
            <p>Agua</p>
            <p>Emision H2O</p>
        </div>   


        <nav>
            <ul class="flex-header-3">
                <li > <a href="#" class="font-white" > Productos </a> </li>
                <li > <a href="#" class="font-white"> Recetas </a> </li>
                <li > <a href="#" class="font-white"> Reemplazos </a> </li>
                <li > <a href="#" class="font-white" > Contacto </a> </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="flex-main1">
                <h2 class="padri20"> Tu Carrito </h2>
                 <p><i class="fas fa-shopping-cart font24"></i></p>
            </div>
        <h2> Total productos : X  </h2>
        </section>
        <section>
            <article> 1 </article>
            <article> 2 </article>
            <article> 3 </article>
            <article> 3 </article>
            <article> 3 </article>
            <article> 3 </article>
            <article> 3 </article>
            <article> 3 </article>
            <article> 3 </article>
            <article> 3 </article>
            <article> 3 </article>  


            <p class="bg-black font-white text-aling-center" > Ir a pagar </p2>

            


        </section>


    </main>
<footer > 
        <div class="bg-black">
        
            <p class="font-white"> Soy un footer </i> </p>
           
        </div >
        

    
</footer>


</body>

</html>