<!DOCTYPE html>
<html lang="es">
<head>
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/carrito.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/laptop.css">
<link rel="stylesheet" href="/css/home-tablet.css">
<link rel="stylesheet" href="/css/home-desktop.css">

</head>

<body class="bg-pagina min-heigth-100vh">

<header>
  <%- include("./partials/header.ejs") %>

</header>
    <main class="text-color-blue">
        <section>
            <div class="display-flex">
                <h2 > Tu Carrito </h2>
                 <p><i class="fas fa-shopping-cart font-size-24"></i></p>
            </div>
            <h2> Total productos : X  </h2>
        </section>
        <section >
            <div class="flex" >            
                <article class="blackborderall width-99pc w50 display-flex justify-content-space-between box-shadow-comun "> 
                    <div class=" width-33pc margin-5px" >
                        <img src="/images/chori.png " class="w100 h100  ">
                    </div>
                    <div class=" width-33pc " >
                        <p class="padtop15 underline bold font-size-18"> Nombre del producto</p>
                        <p class="padtop40p font-size-18"> Descripcion del producto</p>
                    </div >

                    <div class="width-33pc">
                        <div class="display-flex justify-content-space-between ">
                        <p class="w50 padtop30 bold font-size-18"> CANT. </p>
                        <form  class="w50 padtop28 padleft12" >
                             <select class=" bg-pagina box-shadow-comun font-size-24">
                                <option> 1 </option>
                                <option> 2 </option>
                                <option> 3 </option>
                                <option> 4 </option>
                                <option> 5 </option>
                                <option> 6 </option>
                                <option> 7 </option>
                                <option> 8 </option>
                                <option> 9 </option>
                            </select>
                        </form>
                        </div>
                        <div class="padtop40p">
                            <div class="display-flex justify-content-space-between w100 ">
                            
                                <p class=" font-size-18 bold padtop8p"> VIDAS </p>
                                <div><i class="fas fa-paw icon-beneficos-header"></i></div>
                               
                                
                            </div>
                            <div class="display-flex justify-content-space-between w100 " >
                              
                                <p class=" font-size-18 bold padtop8p"> AGUA </p>
                                <div><i class="fas fa-faucet icon-beneficos-header"></i></div>
                            </div>
                            <div class="display-flex justify-content-space-between w100 "  >
                             
                                <p class=" font-size-18 bold padtop8p"> EMISION H2O </p>
                                <div><i class="fas fa-exclamation-triangle icon-beneficos-header"></i></div>
                            </div>
                    </div>
                </div>
                <i class="fas fa-trash-alt tacho "></i>
                </article>
                <article class="blackborderall width-99pc w50 display-flex justify-content-space-between box-shadow-comun"> 
                    <div class=" width-33pc margin-5px" >
                        <img src="/images/chori.png " class="w100 h100  ">
                    </div>
                    <div class=" width-33pc " >
                        <p class="padtop15 underline bold font-size-18"> Nombre del producto</p>
                        <p class="padtop40p font-size-18"> Descripcion del producto</p>
                    </div >

                    <div class="width-33pc">
                        <div class="display-flex justify-content-space-between ">
                        <p class="w50 padtop30 bold font-size-18"> CANT. </p>
                        <form  class="w50 padtop28 padleft12" >
                             <select class=" bg-pagina box-shadow-comun font-size-24">
                                <option> 1 </option>
                                <option> 2 </option>
                                <option> 3 </option>
                                <option> 4 </option>
                                <option> 5 </option>
                                <option> 6 </option>
                                <option> 7 </option>
                                <option> 8 </option>
                                <option> 9 </option>
                            </select>
                        </form>
                        </div>
                        <div class="padtop40p">
                            <div class="display-flex justify-content-space-between w100 ">
                            
                                <p class=" font-size-18 bold padtop8p"> VIDAS </p>
                                <div><i class="fas fa-paw icon-beneficos-header"></i></div>
                               
                                
                            </div>
                            <div class="display-flex justify-content-space-between w100 " >
                              
                                <p class=" font-size-18 bold padtop8p"> AGUA </p>
                                <div><i class="fas fa-faucet icon-beneficos-header"></i></div>
                            </div>
                            <div class="display-flex justify-content-space-between w100 "  >
                             
                                <p class=" font-size-18 bold padtop8p"> EMISION H2O </p>
                                <div><i class="fas fa-exclamation-triangle icon-beneficos-header"></i></div>
                            </div>
                    </div>
                </div>
                <i class="fas fa-trash-alt tacho "></i>
                </article>
            
                
            </div>

            <div class="contenedor">
            <button class="centrado bg-grey text-color-white center-me width-100pc padgopay" > Ir a pagar </button>
            </div>
        
        </section>

        <section>

            <br>
            <div class="padtop8p tarjeta box-shadow-comun ">
                <h3 class="center-me" > Resumen del pedido </h3>
                <div class="display-flex justify-content-space-between padleft20 padright20">
                    <p> X productos</p>
                    <p> X pesos</p>
                </div>
                <div class="display-flex justify-content-space-between padleft20 padright20" >
                    <p> Entrega </p>
                    <p> X pesos</p>
                </div>
                <div class="display-flex justify-content-space-between padleft20 padright20" >
                    <p> Total </p>
                    <p> X pesos</p>
                </div>
                    
                
            </div>
      
        </section>
        <section class="padsec tarjeta margin-top-20px box-shadow-comun ">
            
            <h3 class="center-me padtop8p " > BENEFICIOS DE ESTA COMPRA </h3>

            <div class="display-flex justify-content-space-around padtop8p">   
                <div>  
                 
               
                <p class="center-me"> VIDAS </p>
                </div>   
                <div>      
                      
                
                <p class="center-me" > AGUA</p>
                </div>
                <div> 
                
                
                <p class="center-me" >EMISION DE H2O</p>
                </div>
                </div>
            
                 
        

    </section>

        <section class="tarjeta margin-top-20px margin-bottom-10px box-shadow-comun ">
            
                <h3 class="center-me padtop8p " >  FORMAS DE PAGO </h3>
                
                <div class="display-flex justify-content-space-around padtop8p "> 
                <img class="img-pagos" src="/images/VISA2.png " >   
                <img class="img-pagos" src="/images/master.png " >   
                <img class="img-pagos" src="/images/pay.png " class="pad">    
                <img class="img-pagos" src="/images/merc.png "class="pad" > 
               
                
                </div>

        </section>

        

        


    </main>
    
        <%- include("./partials/footer.ejs") %>
  

  
</body>
</html>