<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>Green Meat</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/home-tablet.css">
    <link rel="stylesheet" href="/css/home-desktop.css">
    <link rel="stylesheet" href="/css/home-tablet.css">
    <link rel="stylesheet" href="/css/home-desktop.css">

</head>

<body class="width-100vw height-100vh font-family-lilita bg-pagina display-flex flex-column min-heigth-100vh">

    <%- include("./partials/header.ejs") %>  
    <main class="grow margin-bottom-55px width-90pc margin-auto height-100vh">
        <section class="width-100pc display-flex flex-column margin-10px border-radius-3px align-items-center text-color-blue">
          <h2 class="margin-bottom-10px">Usted está un producto nuevo %> </h2>
          <form action="/crearProducto" method="PUT" %> method="POST">
            <label for="">Ingrese aquí el nombre del producto a crear</label>
            <input class="margin-bottom-10px border-radius-3px" type="text" name="nombre" value="nombre" >
            <br>
            <label for="">Describa aquí la descripcion del nuevo producto</label>
            <input class="margin-bottom-10px border-radius-3px" type="text" name="descripcion" value="Aquí la descripción" >
            <br>
            <label for="">Ingrese aquí a que carne reemplaza el producto</label>
            <input class="margin-bottom-10px border-radius-3px" type="text" name="reemplaza" value="pollo, vacuno, pescado o cerdo" >
            <br>
            <label for="">Ingrese aquí en qué presentación viene el producto</label>
            <input class="margin-bottom-10px border-radius-3px" type="text" name="presentacion" value="Ej: 4 unidades" >
            <br>
            <label for="">Ingrese aquí el precio del producto (solo ingresar el numero)</label>
            <input class="margin-bottom-10px border-radius-3px" type="text" name="precio" value="Ej: 500" >
            <br>
            <br>
            <label for="">Ingrese aquí la relevancia del producto</label>
            <input class="margin-bottom-10px border-radius-3px" type="text" name="relevancia" value="pollo, vacuno, pescado o cerdo" >
            <br>
            <div>
              <button type="submit" class="bg-verde border-none border-radius-3px padding-5px text-color-pagina">Enviar</button>
              <button type="reset" class="bg-verde border-none border-radius-3px padding-5px text-color-pagina">Borrar</button>

            </div>
            
          </form>
        </section>


    </main>
    <%- include("./partials/footer.ejs") %>
</body>

</html>