<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>Green Meat</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/home-tablet.css">
    <link rel="stylesheet" href="/css/home-desktop.css">
    <link rel="stylesheet" href="/css/home-tablet.css">
    <link rel="stylesheet" href="/css/home-desktop.css">

</head>

<body class="width-100vw height-100vh font-family-lilita bg-pagina display-flex flex-column min-heigth-100vh">

    <%- include("./partials/header.ejs") %>  
    <main class="grow margin-bottom-55px width-90pc margin-auto height-100vh text-color-blue">
        <section class="100pc">
          <h2 class="">Usted está creando un producto: </h2>
          <form action="/crearProducto"  method="post" enctype="multipart/form-data">
            <div class="display-flex justify-content-space-between " >
            <label for="">Nombre :</label>
            <input class="width-90pc" type="text" name="nombre"  >
          </div>
            <br>
            <div class="display-flex justify-content-space-between " >
            <label for=""> Descripción : </label>
            <input class="width-90pc" type="text" name="descripcion"  >
          </div>
            <br>
            <div class="display-flex justify-content-space-between " >
            <label for=""> Reemplazo de : </label>
            <select class="width-90pc" name="reemplaza">
              <option> pollo</option>
              <option> vacuno</option>
              <option> pescado</option>
              <option> cerdo</option>
            </select>
          </div>  
            <br>
            <div class="display-flex justify-content-space-between " >
            <label for=""> Presentación :</label>
            <select class="width-90pc" name="presentacion">
              <option> Unidad </option>
              <option> Caja de 4 </option>
              <option> Caja de 6 </option>
              <option> Kilos </option>
            </select>
          </div>
          <br>
            <div class="display-flex justify-content-space-between " >
            <label for=""> Imagen Producto :</label>
            <input class="width-90pc" type="file" name="imagen"  >
          </div>
            <br>
            <div class="display-flex justify-content-space-between " >
            <label for=""> Precio :</label>
            <input class="width-90pc" type="text" name="precio"  >
          </div>
          <br>
          <div class="display-flex justify-content-space-between " >
            <label for=""> Descuento :</label>
            <input class="width-90pc" type="text" name="descuento">
          </div>
          <br>
            <div class="display-flex justify-content-space-between " >
            <label for=""> Relevancia :</label>
            <select class="width-90pc" name="relevancia">
              <option> oferta </option>
              <option> vendidos </option>
              <option> ninguna </option>
            </select>
          </div>
          
            <br>
            <button class="bg-verde border-none border-radius-3px padding-5px text-color-pagina" type="submit">Guardar</button>
            <button class="bg-verde border-none border-radius-3px padding-5px text-color-pagina" type="reset">Borrar</button>
          </form>
        </section>


    </main>
    <%- include("./partials/footer.ejs") %>
</body>

</html>