<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>Green Meat</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/home-tablet.css">
    <link rel="stylesheet" href="/css/home-desktop.css">
    <link rel="stylesheet" href="/css/home-tablet.css">
    <link rel="stylesheet" href="/css/home-desktop.css">

</head>

<body class="width-100vw height-100vh font-family-lilita bg-pagina display-flex flex-column min-heigth-100vh">

    <%- include("./partials/header.ejs") %>  
    <main class="grow margin-bottom-55px width-90pc margin-auto height-100vh">
        <section class="100pc">
            <h2 class="">Productos destacados</h2>
            <article class="display-flex width-100pc flex-column align-items-center articulos">
                <article
                    class="articulo display-flex flex-column margin-10px box-shadow-comun border-radius-3px bg-blue align-items-center">
                    <img src="/images/bocadito.jpg" class="width-100pc">
                    <div class="display-flex flex-column width-90pc">
                        <div class="display-flex justify-content-space-between margin-top-10px width-100pc">
                            <p class="cantidad text-color-pagina">Presentaci贸n: 350g</p>
                            <p class="precios text-color-pagina width-30pc">$1000</p>
                        </div>
                        <h3 class="descripciones margin-top-10px margin-bottom-10px text-color-pagina width-100pc">Carne
                            vacuna vegana</h3>
                    </div>
                </article>
                <article
                    class="articulo display-flex flex-column margin-10px box-shadow-comun border-radius-3px bg-blue align-items-center">
                    <img src="/images/burguer.png" class="width-100pc">
                    <div class="display-flex flex-column width-90pc">
                        <div class="display-flex justify-content-space-between margin-top-10px width-100pc">
                            <p class="cantidad text-color-pagina">Presentaci贸n: 350g</p>
                            <p class="precios text-color-pagina width-30pc">$1000</p>
                        </div>
                        <h3 class="descripciones margin-top-10px margin-bottom-10px text-color-pagina width-100pc">Carne
                            vacuna vegana
                        </h3>
                    </div>
                </article>
                <article
                    class="articulo display-flex flex-column margin-10px box-shadow-comun border-radius-3px bg-blue align-items-center">
                    <img src="/images/bocadito.jpg" class="width-100pc">
                    <div class="display-flex flex-column width-90pc">
                        <div class="display-flex justify-content-space-between margin-top-10px width-100pc">
                            <p class="cantidad text-color-pagina">Presentaci贸n: 350g</p>
                            <p class="precios text-color-pagina width-30pc">$1000</p>
                        </div>
                        <h3 class="descripciones margin-top-10px margin-bottom-10px text-color-pagina width-100pc">Carne
                            vacuna vegana
                        </h3>
                    </div>
                </article>
                <article
                    class="articulo display-flex flex-column margin-10px box-shadow-comun border-radius-3px bg-blue align-items-center">
                    <img src="/images/burguer.png" class="width-100pc">
                    <div class="display-flex flex-column width-90pc">
                        <div class="display-flex justify-content-space-between margin-top-10px width-100pc">
                            <p class="cantidad text-color-pagina">Presentaci贸n: 350g</p>
                            <p class="precios text-color-pagina width-30pc">$1000</p>
                        </div>
                        <h3 class="descripciones margin-top-10px margin-bottom-10px text-color-pagina width-100pc">Carne
                            vacuna vegana
                        </h3>
                    </div>
                </article>

        </section>


    </main>
    <%- include("./partials/footer.ejs") %>
</body>

</html>