<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Green Meat</title>
    <link rel="shortcut icon" href="/images/logo-green.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/login.css">

<meta name="viewport" content="width=device-wid th, initial-scale=1">
</head>

<body>

<header>
<section>
<div class="nav-tittle">
    <div class="tittle"><a href="./"><img class="img" src="/images/logo-green.png" alt="Logo"></a>
</div>

    <section class="section-header">
<div class="barra"><input placeholder="Buscar productos, marcas" class="search-u"><a href=""><i class="fas fa-search search animation-search"></i></a></div>
<section class="section-icon-tittle">
<div class="div-icon-tittle"><i class="fas fa-user icon-tittle"></i></div>
<div class="div-icon-tittle"><i class="fas fa-shopping-cart icon-tittle"></i></div>
<div class="burguer">
    <a href=""><i class="fas fa-bars icon-burguer"></i></a>
  </div>
</section>
</section>
<section class="section-beneficios-all">
    <div class="div-beneficios-header"><h4>AYUDAMOS A CREAR UN MUNDO MEJOR</h4></div>
<section class="section-beneficios-header">
    <article class="article-beneficios-header">
<div><i class="fas fa-faucet icon-beneficos-header"></i></div>
<div class="contador">CONTADOR</div>
  <div class="div-beneficios-header1"> Agua </div>
</article>
<article class="article-beneficios-header">
  <div><i class="fas fa-paw icon-beneficos-header"></i></div>
  <div class="contador">CONTADOR</div>
  <div class="div-beneficios-header1"> Vidas </div>
</article>
<article class="article-beneficios-header">
<div><i class="fas fa-exclamation-triangle icon-beneficos-header"></i></div>
<div class="contador">CONTADOR</div>
  <div class="div-beneficios-header1"> CO2 </div>
</article>
</section>
</section>
</section>

<nav class="nav-header">
<div class="div-nav">PRODUCTOS</div>
<div class="div-nav">RECETAS</div>
<div class="div-nav">REEMPLAZOS</div>
<div class="div-nav">CONTACTO</div>

</nav>

</header>
<br>
<main >
    <form method="GET" action="/" class="form">

      <h2 class="h2">Ingresá</h2>
      <div class="div-login">
<input type="Password" name="Nombre de usuario"  placeholder="Nombre de usuario" class="anchototal" > 
</div> <br>    

<div class="div-login">
            <input type="Password" name="Password"  placeholder="Password" class="anchototal" > 
        </div>
        <br>
    </div >
    <div class="bottom">
    <button type="submit" value="Enviar" class="boton" > Enviar </button>  </div >
    <div class="bottom">
        <button type="reset" value="Borrar" class="boton" > Borrar </button>  </div >
        <div class="bottom">
      <button type="submit" value="Volver al inicio" class="boton" > Volver al inicio</button>
  </div >
    </form>
    </main>
    <br>
    <br>
    <br>
    <footer class="footer">
        <br>
        <section class="section-footer">
    <ul class="ul-footer"> 
      <a href= "https://www.instagram.com/" target="_blank"><i class="fab fa-instagram icon-footer animation-footer"></i></a>
    </ul>
    <ul class="ul-footer">
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square icon-footer animation-footer"></i></a> 
     </ul>
     <ul class="ul-footer">
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square icon-footer animation-footer"></i></a>
     </ul>
     <ul class="ul-footer">
         <a href="https://outlook.live.com/" target="_blank"><i class="far fa-envelope icon-footer animation-footer"></i></a>
     </ul>
    </section>

    <div class="cierre"> Copyright© 1999-2020 GREEN MEAT Inc. </div>
<br>

</footer>

</body>
</html>