<!DOCTYPE html>
<html lang="es">
<head>
<%- include("./partials/head.ejs") %>
</head>

<body>

<header>
  <%- include("./partials/header.ejs") %>

</header>
<br>
<main >
    <form method="GET" action="/" class="form">

      <h2 class="h2">Ingresá</h2>
      <div class="div-login">
<input type="Password" name="Nombre de usuario"  placeholder="Nombre de usuario" class="anchototal" > 
</div> <br>    

<div class="div-login">
            <input type="Password" name="Password"  placeholder="Password" class="anchototal" > 
        </div>
        <br>
    </div >
    <div class="bottom">
    <button type="submit" value="Enviar" class="boton" > Enviar </button>  </div >
    <div class="bottom">
        <button type="reset" value="Borrar" class="boton" > Borrar </button>  </div >
        <div class="bottom">
      <button type="submit" value="Volver al inicio" class="boton" > Volver al inicio</button>
  </div >
    </form>
    </main>
    <br>
    <br>
    <br>
    <footer class="footer">
      <%- include("./partials/footer.ejs") %>

</footer>

</body>
</html>