<!DOCTYPE html>
<html lang="es">
<head>
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/home-tablet.css">
<link rel="stylesheet" href="/css/home-desktop.css">
</head>

<body>

<header>
  <%- include("./partials/header.ejs") %>

</header>
<br>
<main >

<section>
    <article class="articulo">
       <div class="tittle-icon"> <i class="fas fa-angle-double-right icon0"></i></div>
   <div class="div-tittle"><h2 class="tittle-product1">VEGAN BURGUER DE LENTAJAS</h2></div> 
  <div class="div-image">  <img class="image" src="/images/vegan.jpg" alt="burger de lentejas"></div>
</article>
<article class="articulo">
    <div class="tittle-icon"> <i class="fas fa-angle-double-right icon0"></i></div>
<div class="div-tittle"><h2 class="tittle-product1">VEGAN CHORIZO</h2></div> 
<div class="div-image">  <img class="image" src="/images/choritop.jpg" alt="burger de lentejas"></div>
</article>


</section>

</main>

    <br>
    <br>



      <%- include("./partials/footer.ejs") %>



</body>
</html>