<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carritocompra</title>




    
    <meta name="viewport" content="width=device-wid th, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2? family=Montserrat:wght@400;700&family=Roboto&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/carrito-register.css">
    <link rel="stylesheet" href="/css/laptop.css">



</head>
<body class=" bg-yellow font12">
    <header>
        <section>

        
        <div class="nav-tittle">
            <div class="tittle"><a href="./"><img class="img" src="/images/logo.jpg" alt="Logo"></a>
        </div>
        
            <section class="section-header">
        <div class="barra"><input placeholder="Buscar productos, marcas" class="search-u"><a href=""><i class="fas fa-search search animation-search"></i></a></div>
        <section class="section-icon-tittle">
        <div class="div-icon-tittle"><i class="fas fa-user icon-tittle"></i></div>
        <div class="div-icon-tittle"><i class="fas fa-shopping-cart icon-tittle"></i></div>
        <div class="burguer">
            <a href=""><i class="fas fa-bars icon-burguer"></i></a>
          </div>
        </section>
        </section>
        
        <section class="section-beneficios-all">
            <div class="div-beneficios-header"><h4>AYUDAMOS A CREAR UN MUNDO MEJOR</h4></div>
        <section class="section-beneficios-header">
            <article class="article-beneficios-header">
        <div><i class="fas fa-faucet icon-beneficos-header"></i></div>
        <div class="contador">CONTADOR</div>
          <div class="div-beneficios-header1"> Agua </div>
        </article>
        <article class="article-beneficios-header">
          <div><i class="fas fa-paw icon-beneficos-header"></i></div>
          <div class="contador">CONTADOR</div>
          <div class="div-beneficios-header1"> Vidas </div>
        </article>
        <article class="article-beneficios-header">
        <div><i class="fas fa-exclamation-triangle icon-beneficos-header"></i></div>
        <div class="contador">CONTADOR</div>
          <div class="div-beneficios-header1"> CO2 </div>
        </article>
        </section>
        </section>
        </section>
        
        <nav class="nav-header">
        <div class="div-nav">PRODUTOS</div>
        <div class="div-nav">RECETAS</div>
        <div class="div-nav">REEMPLAZOS</div>
        <div class="div-nav">CONTACTO</div>
        
        </nav>
        
        </header>
    <main >
        <form method="GET" action="/">
            
            <section class="registratecon">
                <h1> Registrarse</h1>
                <div class="margintop">
                    <h2>Registate con : </h2>
                </div>
                <div class="flexregcon marginbottom">
                    <div class="prueba2">
                        <p><i class="fab fa-facebook-square font24"></i></p>
                        <a href="https://es-la.facebook.com/" class="pad"> Facebook</a>
                        
                        
                    </div>
                    <div class="prueba2">
                       
                        <p><i class="fas fa-envelope font24"></i></p>
                        <a href="https://accounts.google.com/" class="pad"> Gmail</a>
                </div>
           </section>

           <section class="creausuario">

                <h2> O crea un usuario </h2>
                <h3> Datos personales </h3> 
                <div class="flexdatpers">
                    <input type="text" name="nombreyapelido" placeholder="Nombre" class="w50-reg border-reg "> 
                    
                    <input type="text" name="nombreyapelido" placeholder="Apellido" class="w50-reg border-reg"> 
                   
                </div>

                <div class="flex-register">
                    <div>
                        <p>Fecha de nacimiento </p>
                        <input type="date" name="date " class="border-reg" >   
                </div>
                <div>
                    <p> Sexo </p>
                    <select class="border-reg">
                        <option> F </option>
                        <option> M </option>
                        <option> Otro </option>
                    
                    </select>
                </div>
                    <div>
                        <p> Celular </p>
                        <input type="text" name="" placeholder="Celular" class="border-reg"> 
                    
                    </div>
                </div>

                <h3> Datos de acceso </h3> 

                <div>
                    <input type="email" name="" placeholder="Correo Electronico" class="w100-reg border-reg"> 
                    <span> *Este campo no puede estar vacio</span> 
                </div>

                <div>
                    <input type="password" name="password"  placeholder="Contraseña" class="w100-reg border-reg" > 
                    <span> *Este campo tiene un error</span>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Confirmar contraseña" class="w100-reg border-reg" >
                    <span> *No coinciden </span> 
                </div>  

            </section>
        </form>
         
        
          

        
            <div>
                <h2> Intereses </h2>
                <div class="border">
                    <input type="checkbox" name="categoria-interes "  value ="Electro" id="categoria_electro"  > 
                    <label for="categoria_electro"> Hambuerguesa </label>
                </div>
                <div class="border">
                    <input type="checkbox" name="categoria-interes "  value ="Moda" id="categoria_moda"> 
                    <label for="categoria_moda"> Chorizos </label>
                </div>
                <div class="border" >
                    <input type="checkbox" name="categoria-interes "  value ="Hogar" id="categoria_hogar"> 
                    <label for="categoria_hogar"> Bocados </label>
                </div>
                <div class="border" >
                    <input type="checkbox" name="categoria-interes "  value ="Jugueteria" id="categoria_jugueteria"> 
                    <label for="categoria_jugueteria"> Salchichas </label>
                </div>
              
                <span> *Debe seleccionar al menos un item </span>

            </div>

          
            <section>
                <div class="pad20">
                    <div class="w100-reg">
                        <button type="submit" value="Enviar"   class="  border-reg w100-reg margreg black"> Registrate </button>
                    </div>
                <div>
                <button type="reset" value="Borrar"  class="  border-reg w100-reg black"> Borrar </button>
            </div>
            </div>

            </section>

        </form>
    </main>


    <footer class="bg-black font-white padtop30">
        <div class="flex-main4">                
            <p><i class="fab fa-instagram font-y font24"></i></p>
            <p><i class="fab fa-facebook-square font-y font24 "></i></p>
            <p><i class="fab fa-twitter-square font-y font24 "></i></p>
            <p><i class="fas fa-envelope font-y  font24"></i></p>
        </div>

        <p>CopyRight 2022</p>
    </footer



</body>

</html>