<!DOCTYPE html>
<html lang="es">
<head>
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/home-tablet.css">
<link rel="stylesheet" href="/css/home-desktop.css">
<link rel="stylesheet" href="/css/laptop.css">
</head>

<body class="width-100vw height-100vh font-family-lilita bg-pagina display-flex flex-column min-heigth-100vh">

<header>
  <%- include("./partials/header.ejs") %>

</header>
    <main class="padleft20 padright20">
        <form method="POST" action="/crearUsuario" enctype="multipart/form-data">
            
            <section class="registratecon">
                <h1 class="text-color-blue"> Registrarse</h1>
                <div class="margintop">
                    <h2 class="text-color-blue" >Registrate con : </h2>
                </div>
                <div class="display-flex justify-content-space-between flex-wrap-wrap align-self-center marginbottom">
                    <div class="face-gmail justify-content-space-between ">
                        <i class="fab fa-facebook-square font-size-24 justify-content-center align-self-center"></i>
                        <p class="justify-content-center align-self-center text-color-blue "><a href="https://es-la.facebook.com/" class="padtop15 justify-content-center align-self-center "> Facebook</a></p>
                        
                         
                    </div>
                    <div class="face-gmail justify-content-space-between">
                       
                        <p><i class="fas fa-envelope font-size-24 justify-content-center align-self-center "></i></p>
                        <p class="justify-content-center align-self-center " ><a href="https://accounts.google.com/" class="padtop15 justify-content-center align-self-center "> Gmail</a></p>
                </div>
           </section>

           <section class="creausuario">

                <h2 class="padtop15 text-color-blue " > O crea un usuario </h2>
                <h3 class="padtop15 text-color-blue"  > Datos personales </h3> 
                <div class="display-flex justify-content-space-between flex-wrap-wrap padtop15" >
                    <input type="text" name="nombre" placeholder="Nombre" class="width-45pc border-reg height-30px "> 
                    
                    <input type="text" name="apellido" placeholder="Apellido" class="width-45pc border-reg height-30px "> 
                   
                </div>

                <div class="flex-register padtop15 ">
                    <div>
                        <p class="text-color-blue">Fecha de nacimiento </p>
                        <input type="date" name="nacimiento" class="border-reg height-30px width-100pc " >   
                </div>
                <div>
                    <p class="text-color-blue" > Sexo </p>
                    <select class="border-reg height-30px width-100pc " name="sexo">
                        <option> F </option>
                        <option> M </option>
                        <option> Otro </option>
                    
                    </select>
                </div>
                    <div>
                        <p class="text-color-blue "> Celular </p>
                        <input type="text" name="celular" placeholder="Celular" class="border-reg height-30px width-100pc "> 
                    
                    </div>
                </div>

            </div>
            <br>
            <div class="display-flex flex-wrap-wrap justify-content-center">
                <p class="text-color-blue width-100pc "> Imagen usuario</p>
                <input type="file" name="imagenusuario"  class="border-reg height-30px width-100pc"> 
            
            </div>
        </div>

                <h3 class="padtop15 text-color-blue "> Datos de acceso </h3> 

                <div class="padtop15" >
                    <input type="email" name="correo" placeholder="Correo Electronico" class="width-100pc border-reg height-30px"> 
                    <span> *Este campo no puede estar vacio</span> 
                </div>

                <div>
                    <input type="password" name="contrasena"  placeholder="Contraseña" class="width-100pc border-reg height-30px " > 
                    <span> *Este campo tiene un error</span>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Confirmar contraseña" class="width-100pc border-reg height-30px " >
                    <span> *No coinciden </span> 
                </div>  

            </section>
        
         
        
          

        
            <div>
                <h2 class="text-color-blue" > Intereses </h2>
                <div class="border">
                    <input type="checkbox" name="categoriaInteres"  value ="Electro" id="categoria_electro"  > 
                    <label for="categoria_electro "> Hambuerguesa </label>
                </div>
                <div class="border">
                    <input type="checkbox" name="categoriaInteres"  value ="Moda" id="categoria_moda"> 
                    <label for="categoria_moda"> Chorizos </label>
                </div>
                <div class="border" >
                    <input type="checkbox" name="categoriaInteres"  value ="Hogar" id="categoria_hogar"> 
                    <label for="categoria_hogar"> Bocados </label>
                </div>
                <div class="border" >
                    <input type="checkbox" name="categoriaInteres"  value ="Jugueteria" id="categoria_jugueteria"> 
                    <label for="categoria_jugueteria"> Salchichas </label>
                </div>
              
                <span> *Debe seleccionar al menos un item </span>

            </div>

          
            <section>
                <div class="padtop20 padbottom20 cambio">
                    <div class="width-100pc  ">
                        <button type="submit" value="Enviar"   class="   justify-content-center display-flex flex-wrap-wrap border-reg width-100pc margreg black height-30px font-size-26 hovercolor"  > 
                            <p>Guardar</p> 
                            <i class="fas fa-save "></i>
                        </button>
                    </div>
                <div>
                <button type="reset" value="Borrar"  class=" justify-content-center display-flex flex-wrap-wrap border-reg width-100pc black height-30px font-size-26  hovercolor"> 
                    <p>Borrar </p>
                    <i class="fas fa-eraser "></i>
                    </button>
            </div>
            </div>

            </section>

        </form>
    </main>



    <%- include("./partials/footer.ejs") %>
  




</body>

</html>