<!DOCTYPE html>
<html lang="es">
<head>
<%- include("./partials/head.ejs") %>
</head>

<body>

<header>
  <%- include("./partials/header.ejs") %>

</header>
    <main >
        <form method="GET" action="/">
            
            <section class="registratecon">
                <h1> Registrarse</h1>
                <div class="margintop">
                    <h2>Registate con : </h2>
                </div>
                <div class="flexregcon marginbottom">
                    <div class="prueba2">
                        <p><i class="fab fa-facebook-square font24"></i></p>
                        <a href="https://es-la.facebook.com/" class="pad"> Facebook</a>
                        
                        
                    </div>
                    <div class="prueba2">
                       
                        <p><i class="fas fa-envelope font24"></i></p>
                        <a href="https://accounts.google.com/" class="pad"> Gmail</a>
                </div>
           </section>

           <section class="creausuario">

                <h2> O crea un usuario </h2>
                <h3> Datos personales </h3> 
                <div class="flexdatpers">
                    <input type="text" name="nombreyapelido" placeholder="Nombre" class="w50-reg border-reg "> 
                    
                    <input type="text" name="nombreyapelido" placeholder="Apellido" class="w50-reg border-reg"> 
                   
                </div>

                <div class="flex-register">
                    <div>
                        <p>Fecha de nacimiento </p>
                        <input type="date" name="date " class="border-reg" >   
                </div>
                <div>
                    <p> Sexo </p>
                    <select class="border-reg">
                        <option> F </option>
                        <option> M </option>
                        <option> Otro </option>
                    
                    </select>
                </div>
                    <div>
                        <p> Celular </p>
                        <input type="text" name="" placeholder="Celular" class="border-reg"> 
                    
                    </div>
                </div>

                <h3> Datos de acceso </h3> 

                <div>
                    <input type="email" name="" placeholder="Correo Electronico" class="w100-reg border-reg"> 
                    <span> *Este campo no puede estar vacio</span> 
                </div>

                <div>
                    <input type="password" name="password"  placeholder="Contraseña" class="w100-reg border-reg" > 
                    <span> *Este campo tiene un error</span>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Confirmar contraseña" class="w100-reg border-reg" >
                    <span> *No coinciden </span> 
                </div>  

            </section>
        </form>
         
        
          

        
            <div>
                <h2> Intereses </h2>
                <div class="border">
                    <input type="checkbox" name="categoria-interes "  value ="Electro" id="categoria_electro"  > 
                    <label for="categoria_electro"> Hambuerguesa </label>
                </div>
                <div class="border">
                    <input type="checkbox" name="categoria-interes "  value ="Moda" id="categoria_moda"> 
                    <label for="categoria_moda"> Chorizos </label>
                </div>
                <div class="border" >
                    <input type="checkbox" name="categoria-interes "  value ="Hogar" id="categoria_hogar"> 
                    <label for="categoria_hogar"> Bocados </label>
                </div>
                <div class="border" >
                    <input type="checkbox" name="categoria-interes "  value ="Jugueteria" id="categoria_jugueteria"> 
                    <label for="categoria_jugueteria"> Salchichas </label>
                </div>
              
                <span> *Debe seleccionar al menos un item </span>

            </div>

          
            <section>
                <div class="pad20">
                    <div class="w100-reg">
                        <button type="submit" value="Enviar"   class="  border-reg w100-reg margreg black"> Registrate </button>
                    </div>
                <div>
                <button type="reset" value="Borrar"  class="  border-reg w100-reg black"> Borrar </button>
            </div>
            </div>

            </section>

        </form>
    </main>


    <footer class="footer">
        <%- include("./partials/footer.ejs") %>
  
  </footer>



</body>

</html>