article{
    margin-bottom: 10px;
}

.img-pagos {
    width: 100px;
    height: 100px;
}

.padgopay {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
.padgopay:hover{
    background-color: white;
    font-weight: 600;
    border: 1px solid black;
    color: black;
    }
.producto-mati:hover{
    border: none;
    box-shadow: 2px 2px 4px;

}
.w100 {
    width: 100%;
    
}

.h100 {
    height: 100%;
}

.tacho{    

padding-top: 3.5px;
padding-right: 5px;
transition: color 1s;
}

.tacho:hover {
    color: black;
    font-weight: 600;
}

.circle{
    width: 20px;
    height: 10px;
    border: black solid 1px;
    border-radius: 50%;
    background-color: #C4C4C4;
}
div.contenedor {
    width: 33.33%;
    display: flex;
    justify-content: center
  }






















 
  



  


 




