*{
    box-sizing: border-box;
}


.font12 {
    font-size: 12px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font24 {
    font-size: 24px;
}

.font50{
    font-size: 50px;
}

.bg-yellow {
    background-color: #FFE600
}

.bg-black {
    background-color: black
}

.font-white {
    color: white;
}

.font-y {
    color: #FFE600
}


article{
    margin-bottom: 10px;
}

.blackborder {
    border: black solid 2px;
}



.text-aling-center {
    text-align: center;
}

main{
    padding-left: 10px;
    padding-right: 10px;
}

body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Lilita One', cursiva;
    
    
}



img{
    width: 100px;
    height: 100px;
}

.padgopay {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

nav {
    width: 100%;
    background-color : #C4C4C4}


header nav ul li a {
        text-decoration: none;
}
    
header nav ul li  {
        list-style-type: none;
}

.flex-header-1{
    display: flex;
    justify-content: space-between;
}

.flex-header-2{
    display: flex;
    justify-content: space-between;
    
}

.flex-header-3{
    margin: 0 ;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    
}

.flex-header-4{
    display: flex;
    justify-content: space-around;
    
}

.flex-main1 {
    display: flex;
    
}

.flex-main2 {
    display: flex;
    justify-content: space-between;
    
    padding-right: 8%;
}

.flex-main3 {
    display: flex;
    justify-content: space-between;
    
    
}

.flex-mainpay{
    width: 100%;
    
    margin: 0%;
    padding: 0%;
    display: flex;
    
    justify-content: space-around;
    align-content: center;
}

.flex-main4 {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;

    
    
}


.flexmain5{
    display: flex;
    
}

.w33 {
    width: 33%;
}

.w98{
    width : 99%
}




.w100 {
    width: 100%;
    
}

.h100 {
    height: 100%;
}

.margin5{
    margin: 5px;
}

.padright20{
    padding-right: 20px;
}

.padtop30{
    padding-top: 30px;
}

.flex1{
    display: flex;
    
    justify-content: space-between;
}

.f10{
    font-size: 10px;
    
}


.negri{
    font-weight: bold;
    
}


.flexprueba{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.padtopname{
    padding-top: 15px;
    text-decoration: underline;
    
}

.padtopdesc{
    padding-top: 15px;
}

.flexcant{
    display : flex
}


.widmin{
    
    padding-top: 30px;
}


.padcant {
    padding-top: 30px;
}
.padform{
    padding-top: 38px;
    padding-left: 12px;
}

.margright{
    margin-right: 5px;
}


.padsecben {
    padding-bottom: 10px;
}

.tacho{    

padding-top: 3.5px;
padding-right: 5px;
transition: color 1s;
}




.tacho:hover {
    color: red;
}

.circle{
    width: 20px;
    height: 10px;
    border: black solid 1px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.margvida{
    margin-left: 20%;
}
.margagua{
    margin-left: 20%;
}
.margh2o{
    margin-left: 35%;
}

.iconsheart{
    font-size: 15px;
    color: red;
    padding-left: 28%;
}

.iconswater{
    font-size: 15px;
    color: blue;
    padding-left: 28%;
}

.iconsh2o{
    font-size: 15px;
    color: black;
    padding-left: 36%;
}

.boxsha{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}










.header {
    margin: auto;
    padding: auto;
  }
  .img {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .section-header {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
  .barra {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: right;
    margin: 15%;
    margin-top: 0%;
    margin-right: 10%;
  }
  .search-u {
    background-color: #ffe600;
    width: 100%;
    height: 30px;
    position: relative;
    margin: 0px;
    border: solid lightgrey;
    border-radius: 5px;
  }
  .search {
    color: black;
    font-size: 12px;
    text-align: center;
    margin-left: -32.5px;
    position: relative;
    background-color: #ffe600;
  }
  .animation-search {
    color: black;
    background-color: #ffe600;
  }
  .animation-search:hover {
    background-color: green;
    color: #ffe600;
  }
  .animation-search {
    background-color: #ffe600;
    color: black;
    transition: 1s;
  }
  .section-icon-tittle {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -30%;
  }
  .div-icon-tittle {
    display: flex;
    width: 30%;
    justify-content: center;
  }
  .icon-tittle {
    font-size: 80%;
    color: black;
    background-color: #ffe600;
    text-align: center;
    margin: 0%;
    padding: 0%;
    align-self: center;
  }
  .icon-tittle {
    color: black;
  }
  .icon-tittle:hover {
    color: green;
  }
  .icon-tittle {
    color: black;
    transition: 1s;
  }
  .nav-tittle {
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgray;
  }
  .tittle {
    width: 40%;
    padding: 0px;
    position: relative;
    display: inline-block;
    justify-content: center;
    margin: auto;
  }
  .nav-header {
    background-color: lightgray;
    width: 100%;
    height: 50px;
    margin: 0%;
    padding: 0%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
  .div-nav {
    margin: 5px;
    padding: 0%;
    font-size: 65%;
    font-weight: bold;
    color: white;
  }
  .burguer {
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .icon-burguer {
    font-size: 70%;
    width: 18px;
    height: 14px;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: #ffe600;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .section-beneficios-all {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    border-top: 1px solid lightgray;
  }
  .div-beneficios-header {
    width: 50%;
    margin: 0%;
    padding: 0%;
    display: flex;
    font-size: 60%;
    text-align: center;
    margin-left: 0%;
    margin-top: -2%;
  }
  .div-beneficios-header1 {
    font-size: 100%;
  }
  .section-beneficios-header {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  .article-beneficios-header {
    font-size: 33%;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    
  }
  .icon-beneficos-header {
    background-color: #ffe600;
    color: black;
    width: 100%;
    font-size: 200%;
    margin-top: 30%;
  }
  .contador {
    font-size: 8px;
    
  }




  .div-beneficios {
    width: 100%;
    display: flex;
    font-size: 80%;
    text-align: center;
    justify-content: center;
  }
  .section-beneficios {
    display: flex;
    justify-content: space-evenly;
  }
  .article-beneficios {
    font-size: 60%;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }


  .w100-reg {

    
    width: 100%;
  }

  .w50-reg{
    width: 45%;
  }

  header {
    font-size: 22px;
  }


  .border-reg{
    border-radius: 8px;
  }

  .flex-register{
    display: flex;
    justify-content: space-around;
    text-align: center;
  }


  .pad20{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .margreg{
    margin-bottom: 10px;
  }


  .flexregcon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    align-self: center;
  }

 .margintop {
   border-top: black solid 5px;
 }

 .marginbottom{
  border-bottom: black solid 5px;
  padding-bottom: 15px;
 }

 .black{
   background-color: black;
   color: white;
   font-family: lilita one;
   text-align: left;
 }

 .flexdatpers {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

 }

 .prueba2 {
   display: flex;
   border : black solid 2px;
   border-radius: 5px;
   width: 48%;
 }

 .pad{
   padding-top: 15px;
 }





