* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-size: 16px;
  background-color: #ffe600;
  padding: auto;
}
.h2 {
  text-align: center;
  font-size: 35px;
}
.div-login {
  text-align: center;
}
.anchototal {
  width: 300px;
  height: 40px;
  border-radius: 5px;
}

.boton {
  margin: auto;
  width: 100%;
  margin-bottom: 1px;

  font-weight: bold;

  border-radius: 8px;
  justify-content: center;
}
.bottom {
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  text-align: center;
  margin: 0%;
}
.boton3 {
  border-radius: 4px;
  display: flex;
  text-align: center;
  background-color: #6e8c56;
  font-size: 18px;
  color: #ffe600;
  margin: auto;
  margin-bottom: 8px;
  border: none;
  padding: 4px;
  box-shadow: none;
}
.boton3:hover {
  font-size: 22px;
  color: #ffffff;
  box-shadow: 0px 0px 5px rgb(50, 50, 50);
}
.boton {
  font-size: 30px;
  color: #ffe600;
  transition: color 0.5s;
  box-shadow: none;
}
