* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-size: 16px;
  background-color: #ffe600;
  padding: auto;
}
.h2 {
  text-align: center;
  font-size: 35px;
}
.div-login {
  text-align: center;
}
.anchototal {
  width: 300px;
  height: 40px;
  border-radius: 5px;
}

.boton {
  margin: auto;
  width: 100%;
  margin-bottom: 1px;

  font-weight: bold;

  border-radius: 8px;
  justify-content: center;
}
.bottom {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  margin: 0%;
  padding: 0%;
  text-align: center;
  margin: auto;
}
.boton {
  display: flex;

  border: solid 1px black;
  margin: 2px;
  justify-content: center;
}
.boton:hover {
  background-color: #6e8c56;
  border: solid 1px green;
}
.boton {
  background-color: #707375;
  border: solid 1px black;
  transition: color 15s;
}
