main {
    margin: 0 auto;
    padding: 20px;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100% ;
  
}

.w100-reg {

    
    width: 100%;
  }

  .w50-reg{
    width: 45%;
  }

 

  .border-reg{
    border-radius: 8px;
  }

  .flex-register{
    display: flex;
    justify-content: space-around;
    text-align: center;
  }


  .pad20{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .margreg{
    margin-bottom: 10px;
  }


  .flexregcon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    align-self: center;
  }

 .margintop {
   border-top: black solid 5px;
 }

 .marginbottom{
  border-bottom: black solid 5px;
  padding-bottom: 15px;
 }

 .black{
   background-color: black;
   color: white;
   font-family: lilita one;
   text-align: left;
 }

 .flexdatpers {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

 }

 .prueba2 {
   display: flex;
   border : black solid 2px;
   border-radius: 5px;
   width: 48%;
 }

 .pad{
   padding-top: 15px;
 }


.anchototal {
    
       
    width: 100% ;
}

.botonregiter{
    width: 100%;
    background-color: #1259c3;
}

.contenedor {
    display: flex;
}

span{
    color: red;
}

.anchoerror {
    width: 100%;
}

.border{
    border: 1px solid red;
}

